:root{
  --btn_bg_color :rgb(89, 89, 230);
  --home_bg_color :#f4f8fd;
  --navbar_bg_color :white;
  --footer-bg-color:#2e2e33;
  --sub_ttl_color :rgb(99, 96, 96);
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}
body{
  height: 100vh;
  width: 100%;
}
/* navbar */
.navbar{
  height: 4em;
  width: 100%;
  background-color: var(--navbar_bg_color);
  display: grid;
  grid-template-columns: 1fr 3fr 0.8fr;
  grid-template-rows: 1fr 5fr;
  position: fixed;
}
.logo{
  justify-self: center;
  align-self: center;
  grid-row: 1/3;
}
.open{
  display: none;
}
.menu{
  width: 94%;
  background-color: var(--navbar_bg_color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-row: 1/3;
}
.menu1{
  width: 94%;
  background-color: var(--navbar_bg_color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-row: 1/3;
}
.links{
  margin: 0em 1em 0em 1em;
  font-size: 1.3em;
}
.button{
  height: 2.2em;
  width: 4.3em;
  background-color: var(--btn_bg_color);
  font-size: 1.2em;
  color: white;
  border-radius: 5px;
  border-width: 0em;
  justify-self: start;
  align-self: center;
  grid-row: 1/3;
}
/* home section */
.home{
  height: 100vh;
  width: 100%;
  background-color: var(--home_bg_color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sentences{
  font-size: 4em;
  font-weight: 100;
}
.button2{
  height: 2.2em;
  width: 8em;
  background-color: var(--btn_bg_color);
  font-size: 1.7em;
  color: white;
  border-radius: 5px;
  border-width: 0em;
  justify-self: start;
  align-self: center;
}
.button3{
  display: none;
  height: 2.2em;
  width: 6em;
  background-color: var(--btn_bg_color);
  font-size: 1.7em;
  color: white;
  border-radius: 5px;
  border-width: 0em;
  justify-self: start;
  align-self: center;
}
.pic_cont{
  height: 20em;
  width: 100%;
}
.home-pic{
  height: 20em;
  width: 20em;
  background-image: url('C:\Users\ynes\Desktop\web\react clinic\clinic\src\pics\login_pic.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
/* services section*/
.services{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.services-header{
  height: 10em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.svc-ttl{
  font-size: 4em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
}
.svc-subttl{
  font-size: 1.2em;
  color: var(--sub_ttl_color);
}
/* card section */
.card-cont{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Svc-card{
  height: 20em;
  width: 30%;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  transition: 500ms;
  transform-style: preserve-3d;
}
.Svc-card1{
  height: 20em;
  width: 30%;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  transform: rotateY(180deg);
  transition: 500ms;
  transform-style: preserve-3d;
}
.front,.back{
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.back{
  background-color: #2e2e33;
  transform: rotateY(180deg);
  color: white;
}
.card-pic{
  height: 15em;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.card-ttl{
  font-size: 2em;
  text-align: center;
}
.card-subttl{
  color: var(--sub_ttl_color);
  text-align: center;
}
.hover-eff{
  height:100%;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  opacity: 80%;
  color: white;
  font-size: 2em;
  text-align: center;
}
.card-pic:hover .hover-eff{
  display: flex;
  cursor: pointer;
}
/* contact */
.contact{
  height: 70vh;
  width: 100%;
  background-color: var(--footer-bg-color);
  display: grid;
  grid-template-rows: 2fr 4fr 1fr ;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.contact-ttl{
  color: rgb(255, 255, 255);
  font-size: 4em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  text-align: center;
  grid-column: 1/3;
}
.contact-details{
  height: 15em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-details h1{
  font-size: 2.2em;
  font-weight: 100;
}
.phone{
  height: 5em;
  width: 50%;
  color: white;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.socail-media{
  height: 5em;
  width: 50%;
  color: white;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
}
.icons-cont{
  width: 7em;
  display: flex;
  justify-content: space-around ;
}
.map{
  height: 15em;
  width: 70%;
  border: 0;
  justify-self: center;
}
.copy-right{
  width: 50%;
  padding-top: 0.5em;
  color: rgb(240, 234, 234);
  border: white 0 solid;
  border-top-width: 0.1em;
  grid-column: 1/3;
  text-align: center;
  justify-self: center;
}
/* login page */
.login-page{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-login-cont{
  height: 80%;
  width: 80%;
  background-color: #2e2e33;
  border-radius: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-pic-cont{
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  border: solid rgb(159, 153, 153) 0;
  border-right-width: 0.1em ;
}
.login-pic{
  height: 13em;
  width: 13em;
  border-radius: 50%;
  background-color: var(--btn_bg_color);
  background-image: url('C:\Users\ynes\Desktop\web\react clinic\clinic\src\pics\login-page-pic.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x:center ;
}
.login-pic-ttl{
  color: grey;
  font-size: 2.5em;
  font-weight: 100;
}
.login-details{
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
}
.login-details-ttl{
  color: rgb(101, 98, 98);
}
.login-form{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-submit{
  height: 1.5em;
  width: 6em;
  font-size: 1.7em;
  color: white;
  background-color: var(--btn_bg_color);
  border-width: 0;
  border-radius: 1em;
}
/* input styling */
.wrapper{
  width: 80%;
  padding: 30px;
}
.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper .input-data input{
  height: 100%;
  width: 100%;
  background-color: transparent;
  font-size: 1em;
  color: rgb(215, 210, 210);
  border: none;
  border-bottom: 2px solid grey;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  color: rgb(215, 210, 210);
}
.wrapper .input-data label{
  font-size: 1.5em;
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.input-data .underline{
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: -2px;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(215, 210, 210);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}
@media only screen and (max-width: 799px) {
  ::-webkit-scrollbar{
      width: 0;
  }
  /* navbar */
  .button{
      display: none;
  }
  .navbar{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 4em 1fr;
  }
  .logo{
      justify-self: start;
      align-self: center;
      text-align: center;
      grid-row: 1/2;
      margin: 0.2em 1em 0 0.8em;
  }
  .open{
      display: block;
      justify-self: end;
      align-self: center;
      text-align: center;
      margin: 0.2em 0.5em 0 0.5em;
  }
  .menu{
      height: 0em;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      grid-column: 1/3;
      grid-row: 2/3;
      overflow: hidden;
      transition: 200ms;
  }
  .menu1{
      height: 10em;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      grid-column: 1/3;
      grid-row: 2/3;
      overflow: hidden;
      transition: 200ms;
  }
  /* home */
  .home{
      height: 80vh;
      background-image: url('C:\Users\ynes\Desktop\web\react clinic\clinic\src\pics\pic-mobile.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: center;
  }
  .artical{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .sentences{
      color: white;
      font-size: 2.4em;
      margin-bottom: 0.3em;
  }
  .pic_cont{
      display: none;
  }
  .home-pic{
      display: none;
  }
  .button2{
      display: none;
  }
  .button3{
      display: block;
  }
  /* services */
  .services{
      height: 240vh;
  }
  .card-cont{
      flex-direction: column;
      justify-content: center;
      gap: 2em;
  }
  .Svc-card{
      width: 60%;
  }
  /* contact */
  .contact{
      height: 110vh;
      grid-template-rows: 1fr 3fr 1fr 1fr ;
      grid-template-columns: 1fr;
  }
  .phone{
    font-size: 0.9em;
  }
  .socail-media{
    font-size: 0.9em;
  }
  .map{
      grid-column: 1/2;
  }
  /* login page */
  .main-login-cont{
    height: 90%;
    flex-direction: column;
  }
  .login-pic-cont{
    height: 40%;
    justify-content: space-between;
    border-width: 0;
  }
  .login-pic{
    height: 8em;
    width: 8em;
  }
  .login-details{
    height: 60%;
  }
  .login-details-ttl{
    font-size: 0.9em;
    margin-bottom: 1.5em;
  }
  .login-form{
    height: 100%;
    justify-content: space-around;
  }
  .wrapper{
    padding: 0;
  }
}